* {
    padding-top: 26px;
    margin: 0px;
    
      

}

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media(max-width: 600px) {
    body {
    grid-template-columns: 1fr;
    }
}

.header {
    background-color: rgb(88, 71, 238);
    width: 50%;
    height: 10%;
    min-width: 20rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;
    border: solid black;
    text-align: center;
    
    

} 

.section1 {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
    

}



.secondTitle {

    background-color: rgb(182, 185, 187, .75);
    border-radius: 10%;
    text-align: center;
    max-width: 40vw;
    width: 35vw;
    box-shadow: 0 0 8px 8px  rgba(206, 209, 211, 0.75);
    padding-bottom: 2rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    font-size: 1.5rem;

    
    
    
}

.title {
    text-align: center;
    font-size: 4rem;
    text-shadow: 1em white;
    color: whitesmoke;
    margin: auto;
    padding-bottom: 1rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.explain {
    background-color: rgb(16, 17, 17, 0.75);
    box-shadow: 0 0 8px 8px white inset;
    color: aliceblue;
    display:grid;
    max-width: 60vw;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    padding: 2rem;
    font-size: 2rem;
    
    
}



.container {
    border: solid lightgrey;
    border-radius: 30px;
    width:70vw;
    min-height: 22.5vh;
    display: grid;
    background-color: rgb(187, 50, 187, .80);
    grid-template-columns: 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 8px 8px white inset;
   font-weight: bold; 
   font-size: 2rem;
   
   
    
}

@media (min-width: 886px){
    .interest{
        width: 100vw;
    }
}

.buttonDesign {
    padding: 1.5rem;
   
    
}

.buttonT {
    
    
    width: auto;
    height: auto;
    text-justify: center;
    display: block;
    color: white;
    background-color: black;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    
}

.buttonT:hover {
    background-color: rgb(88, 71, 238);
    border-color: gray;
}

.submit:hover {
    background-color: rgb(88, 71, 238);
    border-color: gray;
}

.submit:active {
    background-color: rgb(88, 71, 238);
    box-shadow: 0 5px #656;
    transform: translate(4px);
    color: rgb(196, 117, 196);

}

#radioSubmit {
    padding: 1rem;
}



.interest {
    display: grid;
    margin: 10%;
}





.containerArt {
    background: url(../img/painting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    

}

.artChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;
    min-width: 95vw;
    width: 95vw;
    
   

}

.containerReading {
    background: url(../img/bookBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    
    

}

.readingChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;
    min-width: 95vw;
    width: 95vw;

}

.containerCrafts {
    background: url(../img/craftsBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    

}

.craftsChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;
    min-width: 95vw;
    width: 95vw;

}

.containerFitness {
    background: url(../img/fitnessBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    

}

.fitnessChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;
    min-width: 95vw;
    width: 95vw;

}

.containerMusic {
    background: url(../img/musicBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    
    

}

.musicChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;
    min-width: 95vw;
    width: 95vw;
    

}

.containerSkill {
    background: url(../img/skillBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    
    

}

.skillChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;
    min-width: 95vw;
    width: 95vw;

}


.GenContainer{
    align-items: center;
    justify-content: center;
    display: grid;
    color: white;
    overflow:hidden;
    width: 45vw;
    height: 70vh;
    
    

   

    
}

.starting {
    
    
    display: grid;
    width: 40vw;
    height: 45vh;
    margin-bottom: 10rem;
    
    
    
    

    
    
    
   
}

.firstStarting {

    
 
    padding-left: 1rem;
    padding-top: 5rem;
    color: rgb(231, 152, 123);
    font-size:3rem;
    height: 40vh;



}

#start {
    display: grid;
    width: auto;
    height: auto;
    font-size: 1.8rem;
    text-align: center;
    text-justify: center;
    padding: 1rem;
    
    
    
}

.starting h2 {
    max-height: 30vh;
    height: 20vh;
}

   
    


.randomGenerator {

  

    background-image: url(../img/backgroundvid.png);
    border-radius: 50% / 10%;
    display: grid;
    width: 45vw;
    grid-template-columns: 1fr;
    border: solid black;
    padding-top: 10rem;
    z-index: 1;
    align-self: auto;
    justify-self: auto;
    
        
}

.introPhoto {
    
        height: 60vh;
        width: 45vw;
        background-image: url(../img/HOBBIES-ARE-HEALTHY.jpg);
        background-color: rgb(145, 175, 97);
        background-position: 50%;
        background-size: 100%;
        max-width: 100%;
        background-repeat: no-repeat;
        border-radius: 50% / 10%;
        margin-right: 2rem;
        margin-top: 10rem;
        margin-left: 2rem;
        display: flex;
        border: solid black;
        margin-bottom: 15rem;
        z-index: 1;
        
            
    
}


video {
    
    max-width:45vw;
    min-width: 45vw;
    display: grid;
    object-fit: cover;
    float: none;
    z-index: 1;
    background-size: cover;
    box-shadow: #000;
    object-position: 50% 40%;
    border: #000;
    
    

    
}

.videoContainer {

    overflow: hidden;
    z-index: 2;
    align-content: center;
    justify-content: center;
    margin-bottom: 15rem;
    display: flex;
    grid-template-columns: 1fr;
    
    
    

}

.articleDes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    
    justify-content: center;
    
    color: white;
    
}

.innerDes {
    font-weight: bold;
    color: rgb(89, 241, 18);
    font-size: 3rem;
    width: 42vw;
    height: 10vh;
    min-height: 10vh;
    padding-top: 1rem;
    height: 10%;
    text-align: center;
    
    
}

.infoItem {
    
    height: 22vh;
    min-height: 22vh;
    
    
    
    
}

.scrollItem {
    scroll-behavior: smooth;
    overflow: auto; resize: horizontal;
    height: 22vh;
    max-height: 22vh;
    
    
    
}

.buttonDiv {
   
    max-height: 10vh;
    width: 40vw;
    
    

    
}

h2 {
    font-size: 3.5rem;
    color: rgb(129, 129, 233);
}


@media(max-width: 800px) {
    input {
       display: block;
       margin-left: auto;
       margin-bottom: 2rem;
       margin-right: auto;
       padding: .5rem;
   }

   .container {
       width: 80vw;
       min-width: 60vw;
       
       
   }

   .buttonT {
       min-width: auto;
       
   }
   .articleDes div {
       display: block;
       width: 80vw;
   }

   .GenContainer {
    height:85vh;
    width: 80vw;
   }

   .buttonDiv {
    width: 20vw;
    height: 50vh;
    
    
   }

   #start {
    width: auto;
    height: auto;
   }

   .videoContainer {
    min-width: 90vw;
    min-height: 80vh;
   }

   video {
    max-width: 90vw;
    min-width: 90vw;
    min-height: 60vh;
    max-height: 70vh;
    object-fit:inherit;

    
   }

   .randomGenerator {
    min-width: 90vw;
    max-height: 90vh;
   }

   .articleDes {
    display: block;
   }

   .firstStarting {
    height: 45vh;
   }

   .introPhoto {
    margin-top: 5rem;
    min-height: 70vh;
    min-width: 60vw;
   }

   .GenContainer {
    min-height: 90vh;
    margin-bottom: 2rem;
   }

   .starting {
    min-width: 50vw;
    min-height: 25vh;
    text-align: center;
   }

   .starting h2 {
    min-width: auto;
    font-size: 2.5rem;
   }
 .innerDes {
    max-width: 40vw;
   margin-bottom: 3rem;
   
    overflow: wrap;
 }

 .secondtitle h3 {
    margin:auto;
    min-width: fit;
 }

 .scrollItem {
    min-width: 45vw;
 }
  
 .selection1 {
    text-align: center;
    width: auto;
   
 }

 .newForm {
    width: 50vw;
    
 }

}

@media(max-width: 1349px) {
    input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        padding: .5rem;
     
    }

    form {
        padding: 2rem;
    }

    .selection1 {
        width: 60w;
        margin:auto;
    }

    .container {
        width: 65vw;
    }

}