* {
    padding-top: 26px;
    font-size: 1.25rem;
    margin: 0px;
    
      

}

body {
    background-image: url("/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media(max-width: 500px) {
    body {
    grid-template-columns: 1fr;
    }
}

.header {
    background-color: rgb(88, 71, 238);
    width: 50%;
    height: 10%;
    min-width: 20rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;
    border: solid black;
    text-align: center;
    
    

} 

.section1 {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
    

}



.secondTitle {

    background-color: rgb(182, 185, 187, .75);
    border-radius: 10%;
    text-align: center;
    max-width: 25vw;
    box-shadow: 0 0 8px 8px  rgba(206, 209, 211, 0.75);
    padding-bottom: 2rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;

    
    
    
}

.title {
    text-align: center;
    font-size: 4rem;
    text-shadow: 1em white;
    color: whitesmoke;
    margin: auto;
    padding-bottom: 1rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    size: 80rem;
}

.explain {
    background-color: rgb(16, 17, 17, 0.75);
    box-shadow: 0 0 8px 8px white inset;
    color: aliceblue;
    display:grid;
    max-width: 60vw;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    padding: 2rem;
    
    
}



.container {
    border: solid lightgrey;
    border-radius: 30px;
    width:70vw;
    min-height: 22.5vh;
    display: grid;
    background-color: rgb(187, 50, 187, .80);
    grid-template-columns: 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 8px 8px white inset;
   font-weight: bold; 
   
   
    
}

@media (min-width: 886px){
    .interest{
        width: 100vw;
    }
}

.buttonDesign {
    padding: 1.5rem;
    
}

.buttonT {
    
    padding-bottom: 1rem;
    width: auto;
    text-align: center;
    display: block;
    color: white;
    background-color: black;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    
}

.buttonT:hover {
    background-color: rgb(88, 71, 238);
    border-color: gray;
}

.submit:hover {
    background-color: rgb(88, 71, 238);
    border-color: gray;
}

.submit:active {
    background-color: rgb(88, 71, 238);
    box-shadow: 0 5px #656;
    transform: translate(4px);
    color: rgb(196, 117, 196);

}



.moreinfo1 {
    font-size: 50%;
    

}

.interest {
    display: gird;
    
    margin: 10%;
}

.screen {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}



.containerArt {
    background: url(/assets/img/painting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    

}

.artChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;

}

.containerReading {
    background: url(/assets/img/bookBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    
    

}

.readingChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;

}

.containerCrafts {
    background: url(/assets/img/craftsBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    

}

.craftsChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;

}

.containerFitness {
    background: url(/assets/img/fitnessBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    

}

.fitnessChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;

}

.containerMusic {
    background: url(/assets/img/musicBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    
    

}

.musicChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;

}

.containerSkill {
    background: url(/assets/img/skillBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-position: center;
    display: none;
    
    

}

.skillChoice {
    background-color: rgb(16, 17, 17, 0.75);
    padding-left: 2rem;
    margin: auto;
    display: flex;
    box-shadow: 0 0 8px 8px white inset;

}


.GenContainer{
    align-items: center;
    justify-content: center;
    display: grid;
    color: white;
    overflow:hidden;
    
    

   

    
}

.starting {
    display:grid;
    overflow: hidden;
    margin-top: 5rem;
    display: grid;

    
    
    
   
}

.firstStarting {

    
 
    padding-left: 1rem;
    padding-top: 5rem;
    color: rgb(231, 152, 123);
    font-size: 1.5rem;



}

#start{
    display: flex;
    margin-top: 3rem;
    
    
    
    
}

   
    


.randomGenerator {

  

    background-image: url(/assets/img/backgroundvid.png);
    border-radius: 50% / 10%;
    display: grid;
    
    grid-template-columns: 1fr;
    border: solid black;
    padding-top: 10rem;
    z-index: 1;
    align-self: auto;
    justify-self: auto;
    
        
}

.introPhoto {
    
        height: 60vh;
        width: 60vw;
        background-image: url(/assets/img/HOBBIES-ARE-HEALTHY.jpg);
        background-color: rgb(145, 175, 97);
        background-position: 50%;
        background-size: 100%;
        max-width: 100%;
        background-repeat: no-repeat;
        border-radius: 50% / 10%;
        margin-right: 2rem;
        margin-top: 10rem;
        margin-left: 2rem;
        display: flex;
        border: solid black;
        margin-bottom: 15rem;
        z-index: 1;
        
            
    
}


video {
    
    max-width:45vw;
    min-width: 45vw;
    display: grid;
    object-fit: cover;
    float: none;
    z-index: 1;
    background-size: cover;
    box-shadow: #000;
    object-position: 50% 40%;
    border: #000;
    
    

    
}

.videoContainer {

    overflow: hidden;
    z-index: 2;
    align-content: center;
    justify-content: center;
    margin-bottom: 15rem;
    display: flex;
    grid-template-columns: 1fr;
    
    
    

}

.articleDes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
   
    color: white;
    
}

.innerDes {
    font-weight: bold;
    color: rgb(89, 241, 18);
    font-size: 1.3rem;
    width: 20rem;
    padding-top: 1rem;
    height: 10%;
    
    
}

.infoItem {
    font-size: 1rem;
    
}

.scrollItem {
    scroll-behavior: smooth;
    overflow: auto; resize: horizontal;
    height: 22vh;
    min-height: 22vh;;
}

.buttonDiv {
    margin-bottom: 20rem;
    height: 10vh;
    width: 20vw;
    
}